@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}



/* header */

.header-main{
  padding: 25px 40px;
  /* background: #F9AF185E; */
  border-radius: 25px;
  border: 1px solid;
  opacity: 1;
}
@media only screen and (max-width: 1024px) { 
  .feactured-section{
    grid-template-columns: 1fr;
  }
}

.card-one{
  background: #E6F4EA;
  border-radius: 40px;
}
.card-two{
  background: #EAF6FB;
  border-radius: 40px;
}
.card-three{
  background: #FFF4E0;
  border-radius: 40px;
}
.card-four{
  background: #FCEDEE;
  border-radius: 40px;
}


.grid-innercard {
    position: relative;
    grid-row-gap: 189px;
    grid-column-gap: 450px;
}
.card-hubspot::after {
    content: "";
  position: absolute;
  background:  url(/images/lineone.svg);
  width: 150px;
  height: 150px;
  top: 120px;
  right: -150px;
  z-index: 10; 
  background-size: contain;
    background-repeat: no-repeat;
}

.card-shopify::after {
    content: "";
  position: absolute;
  background:  url(/images/linetwo.svg);
  width: 150px;
  height: 150px;
   top: 120px;
    right: 266px;
  z-index: 10; 
  background-size: contain;
    background-repeat: no-repeat;
}

.card-salesforce::after {
    content: "";
  position: absolute;
    background:  url(/images/linefour.svg);
  width: 150px;
  height: 150px;
  top: -15px;
  right: -150px;
  z-index: 10; 
  background-size: contain;
    background-repeat: no-repeat;
}

.card-razorpay::after {
    content: "";
  position: absolute;
  background:  url(/images/linethree.svg);
  width: 150px;
  height: 150px;
  top: -15px;
  left: -150px;
  z-index: 10; 
  background-size: contain;
    background-repeat: no-repeat;
}
.swiper-button-prev:after, .swiper-button-next:after {

    background: white;
    padding: 10px;
    border-radius: 50%;
}
.swiper-button-next img,
.swiper-button-prev img {
    display: none;
}
/* .swiper-button-prev:after {
    background: url(/images/linethree.svg);
}
.swiper-button-next:after {
    background: url(/images/linethree.svg); 
} */

.swiper-button-prev, .swiper-button-next {
    margin-top: 0;
    border: none !important;
    width: 65px !important;
    height: 65px !important;
    box-shadow: none !important;
}
.swiper-button-prev:after, .swiper-button-next:after {
    width: 65px;
    height: 65px;
    text-align: center;
    position: absolute;
}

.swiper-button-next:after {
    left: -30px;
}
.swiper-button-prev:after {
    right: -30px;
}
